fieldset {
    font-size: small;
    width: 150mm;
    margin: 0 auto;
    padding: 1em;
    font-family: ;
    border: none;
}

h1, h2 {
    text-align: center;
}    
.picture {
    height= 300px;
     width= 200px;
      
}
.lmao {
    text-align: center;
}
